<!-- header top section start -->
<div class="container">
  <div class="header_section_top">
    <div class="row">
      <div class="col-sm-12">
        <div class="custom_menu">
          <ul>
            <li><a routerLink="/">Our Products</a></li>
            <li><a routerLink="/my-orders" routerLinkActive="active">My Orders</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- header top section start -->
<!-- logo section start -->
<div class="logo_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="logo">
          <img src="images/logo.png" alt="E-commerce"/>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- logo section end -->
