<!-- header.component.html -->
<div class="header_section">
  <div class="container">
    <div class="containt_main">
      <!-- Search Box -->
      <div class="main">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search this blog">
          <div class="input-group-append">
            <button class="btn btn-secondary search-btn">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Header Box -->
      <div class="header_box">
        <!-- Cart/User Menu -->
        <div class="login_menu">
          <ul>
            <li>
              <a href="#">
                <i class="fas fa-shopping-cart"></i>
                <span class="padding_10">Cart</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-user"></i>
                <span class="padding_10">Cart</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
