<footer>
  <div class="footer_section layout_padding">
    <div class="container">
      <div class="input_bt">
        <input
          type="text"
          class="mail_bt"
          placeholder="Your Email"
          name="Your Email"
        />
        <span class="subscribe_bt" id="basic-addon2"
          ><a routerLink="#">Subscribe</a></span
        >
      </div>
      <div class="footer_menu">
        <ul>
          <li><a routerLink="/">Our Products</a></li>
          <li><a routerLink="/my-orders">My Orders</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright_section">
    <div class="container">
      <p class="copyright_text">© 2024 All Rights Reserved.</p>
    </div>
  </div>
</footer>
